{% extends 'base.html' %}
{% block unique_head %}<title>{{ project.title }} | Lee McCarthy</title>{% endblock %}
{% block content %}
<div class="container">
  <div class="row mt-3">
    <div class="col text-center">
      <h1>{{ project.title }}</h1>
      <h5>{{ project.subtitle }}</h5>
      <img src="{{ project.image.url }}" alt="project image" class="mt-3 mb-5" style="width: 50%;">
      <p>{{ project.description }}</p>
      {% for link in project.links.all %}
      <a href="{{ link.url }}" class="btn btn-primary">{{ link.text }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
